<div id="filter-nav" class="card">
  <div class="card-header bg-secondary text-white">
    <i class="fa fa-times-circle content-toggler float-right d-block d-md-none"
       style="margin-top: 4px; margin-left: 4px; cursor: pointer;" aria-hidden="true"></i>
    <i class="fa fa-question-circle float-right" style="margin-top: 4px; cursor: pointer;"
       data-toggle="modal" data-target="#help-modal"></i>
    <div class="nav-header"><%= t('view.filternav.framework') %></div>
  </div>
  <div class="card-body p-0 accordion-section">
    <div id="acc-framework" class="accordion">
      <% session[:portal]["filter_navs"].reject { |x| ['locations', 'organizations', 'sectors', 'projects'].include?(x) }
                                        .each do |filter_nav| %>
        <%= render "/shared/filter/#{filter_nav}" %>
      <% end %>
    </div>
  </div>
  <div class="card-header bg-secondary text-white">
    <div class="nav-header"><%= t('view.filternav.registry') %></div>
  </div>
  <div class="card-body p-0">
    <div id="acc-registry" class="accordion">
      <% session[:portal]["filter_navs"].select { |x| ['locations', 'organizations', 'sectors', 'projects'].include?(x) }
                                        .each do |filter_nav| %>
        <%= render "/shared/filter/#{filter_nav}" %>
      <% end %>
      <div class="accordion-header bg-dark">
        <span class="m-0 align-middle">
          <%= image_tag "map_icon.png", width: "20px", height: "20px",
                        alt: t('alt.el-icon', el: t('model.map').humanize) %>
          <span class="align-middle"><%= t('view.filternav.map') %></span>
          <i class="fa fa-angle-down float-right text-muted"></i>
        </span>
      </div>
      <div class="accordion-body p-0 bg-dark">
        <div class="row p-1">
          <div class="col-12 ml-3">
            <%= link_to t('view.filternav.endorser-map-with-osm'), '/map_osm' %>
          </div>
          <div class="col-12 ml-3 mt-2">
            <%= link_to t('view.filternav.aggregator-map-with-osm'), '/map_aggregators_osm' %>
          </div>
          <div class="col-12 ml-3 mt-2">
            <%= link_to t('view.filternav.project-map-with-osm'), '/map_projects_osm' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render 'shared/help' %>

<script type="text/javascript">
  $('.content-toggler').click(function(e) {
    const hideLeftFilter = function() {
      $('#left-filter').attr('style', 'display: none !important;');
      $('#right-content').attr('style', 'display: block !important;');
      animateCss('#right-content', 'fadeIn faster');
    }

    if ($('#left-filter').is(':visible')) {
      animateCss('#left-filter', 'slideOutLeft faster', hideLeftFilter);
    }
  });
</script>
