<!DOCTYPE html>
<html lang="en">
  <head>
    <title>DIAL Catalog of Digital Solutions</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="turbolinks-cache-control" content="no-cache">
    <%= yield(:header_scripts) %>
    <link href="<%= stylesheet_path(session[:portal]['slug']) %>" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css"
          integrity="sha256-PHcOkPmOshsMBC+vtJdVr5Mwb7r0LkSVJPlPrp/IMpU="
          crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.2.1/js.cookie.min.js"
            integrity="sha256-oE03O+I6Pzff4fiMqwEGHbdfcW7a3GRRxlL+U49L5sA="
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/ol@4.6.5/ol.css"
            integrity="sha256-72AsUmsoxyYb+HfGS44LqAscCOz3Ch/B1oUyos9lBM0="
            crossorigin="anonymous">
    
    <script src="https://cdn.jsdelivr.net/npm/openlayers@4.6.5/dist/ol.js"
              integrity="sha256-77IKwU93jwIX7zmgEBfYGHcmeO0Fx2MoWB/ooh9QkBA="
              crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/v4-shims.css">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>  
    <style>
      .rotate-north {
        top: 65px;
        left: 0.5em;
      }
      .ol-touch .rotate-north {
        top: 80px;
      }
      <%= @stylesheet_contents %>
    </style>
    <% if Rails.env.production? || Rails.env.development? %>
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=<%= Rails.application.secrets.google_tracker %>"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', '<%= Rails.application.secrets.google_tracker %>');
      </script>
    <% end %>
    <link rel="icon" type="image/png" href="/favicon.png">
    <script type="text/javascript">
      var _paq = window._paq || [];
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
        var u="https://stats.dial.community/";
        _paq.push(['setTrackerUrl', u+'matomo.php']);
        _paq.push(['setSiteId', 7]);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
      })();

      var previousPageUrl = null;
      $(document).on('turbolinks:load', function() {
        if (previousPageUrl) {
          _paq.push(['setReferrerUrl', previousPageUrl]);
          _paq.push(['setCustomUrl', window.location.href]);
          _paq.push(['setDocumentTitle', document.title]);
          _paq.push(['trackPageView']);
        }
        previousPageUrl = window.location.href;
      });

    </script>
  </head>
<% if controller.action_name == 'map_fs' || controller.action_name == 'bb_fs' %>
  <body id="main-body"
        data-controller="<%= controller.controller_name %>"
        data-action="<%= controller.action_name %>"
        style="padding-top:0 !important; background-color: #f2f2f2">
    <%= yield %>
  </body>
<% else %>
<%
  # We have 4 different layout (maybe we should move this to separate layout file):
  # * Special layout for fullscreen map: map_fs for digital principles page.
  # * Layout with left side filter view: products index, orgs index, projects index,  etc
  # * Single object layout with breadcrumbs: single product, single org, single project, etc.
  # * Multi purpose layout: about page, covid resources page, list of sectors, list of locations, etc.
%>
  <body id="main-body"
        data-controller="<%= controller.controller_name %>"
        data-action="<%= controller.action_name %>">
    <% if request.url.include?('/show_pdf') %>
      <%= yield %>
    <% else %>
      <%= render '/shared/marker' %>
      <%= render '/shared/topnav' %>
      <% if current_page?('/about') || current_page?(root_path) || current_page?('/covid') ||
            current_page?('/covidresources') || current_page?('/privacy') || current_page?('/terms')%>
        <div id="content" class="container" role="main" >
          <% if current_page?('/about') %>
            <%= render 'shared/sidenav' %>
          <% end %>
          <%= yield %>
          <%= render 'cookies_eu/consent_banner', link: about_learnmore_path, target: '_blank' %>
        </div>
      <% elsif hide_sidenav %>
        <div id="content" class="container-fluid" role="main">
          <%= yield %>
          <%= render 'cookies_eu/consent_banner', link: about_learnmore_path, target: '_blank' %>
        </div>
      <% elsif display_breadcrumb %>
        <div id="content" class="container" role="main">
          <%= render '/shared/breadcrumb' %>
          <%= yield %>
          <%= render 'cookies_eu/consent_banner', link: about_learnmore_path, target: '_blank' %>
        </div>
      <% else %>
        <div id="content" class="container-fluid" role="main">
          <div class="row">
            <div class="col-12 d-block d-md-none">
            </div>
            <div id="left-filter" class="col-12 col-md-3 col-lg-5ths d-none d-md-block nav-container bg-dark">
              <%= render '/shared/filternav' %>
            </div>
            <div id="right-content" class="col-12 col-md-9 col-lg-45ths">
              <%= render '/shared/summarynav' %>
              <%= render '/shared/activefilter' %>
              <div class="ml-2 mr-2">
                <%= yield %>
              </div>
            </div>
          </div>
          <%= render 'cookies_eu/consent_banner', link: about_learnmore_path, target: '_blank' %>
        </div>
      <% end %>
    <% end %>

    <%= render '/shared/notifier' %>
    <%= render '/shared/feedback' %>
    <% if !request.url.include?('/show_pdf') %>
      <%= render '/shared/footer' %>
    <% end %>
  </body>
<% end %>
</html>
